.side-bar {
    background-color: $background;
    color: $foreground;
    padding: 4px 6px;
    margin: 0;
    border-radius: 12px;
}

.suspend,
.shutdown,
.lock,
.reboot {
  padding: 0 5px;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: mix($background, $color6, 65%);
  }
}

/* TopSide */

.power-vert {
  font-size: 1.22rem;
  color: $foreground;
  padding: 0 5px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    color: mix($background, $foreground, 95%);
  }
}

/* Workspaces */

.wrapper-options-top {
    background-color: $foreground;
    color: $background;
    padding: 2px 3px;
    margin-top: 15px;
    border-radius: 20px;
}

.workspaces-vert {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 12px;
}

.workspace-vert {
  color: mix($foreground, $color0, 50%);
  transition: color 0.3s ease-in-out;

  &.current {
    color: $foreground;
  }

  &:hover {
    color: mix($foreground, $color2, 70%);
  }
}

/* BottomSide */

.background-item {
    background-color: mix($color0, $foreground, 90%);
    padding: 5px 3px;
    border-radius: 5px;
}
