@import "../../.cache/wal/colors.scss";

* {
  all: unset;
  font-family: "Iosevka", "JetBrainsMono Nerd Font Mono";
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@import "./scss/wallpaper";
@import "./scss/side-bar.scss";
