*{
  all: unset;
  font-family: "* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
}
";
  font-weight: bold;
}

@import "./scss/wallpaper";
@import "./scss/side-bar.scss";
