@define-color foreground #b3cbdb;
@define-color background #010102;
@define-color cursor #b3cbdb;

@define-color color0 #010102;
@define-color color1 #354A5F;
@define-color color2 #4C596E;
@define-color color3 #3E6886;
@define-color color4 #5B728E;
@define-color color5 #8F7D96;
@define-color color6 #6C8EAA;
@define-color color7 #b3cbdb;
@define-color color8 #7d8e99;
@define-color color9 #354A5F;
@define-color color10 #4C596E;
@define-color color11 #3E6886;
@define-color color12 #5B728E;
@define-color color13 #8F7D96;
@define-color color14 #6C8EAA;
@define-color color15 #b3cbdb;
