@define-color foreground #d2d1da;
@define-color background #090707;
@define-color cursor #d2d1da;

@define-color color0 #090707;
@define-color color1 #86726F;
@define-color color2 #6F7689;
@define-color color3 #897C84;
@define-color color4 #7A8597;
@define-color color5 #8D8791;
@define-color color6 #9B9BAE;
@define-color color7 #d2d1da;
@define-color color8 #939298;
@define-color color9 #86726F;
@define-color color10 #6F7689;
@define-color color11 #897C84;
@define-color color12 #7A8597;
@define-color color13 #8D8791;
@define-color color14 #9B9BAE;
@define-color color15 #d2d1da;
