.container_audio_class {
  background-color: $background;
  padding: 10px;
  border-radius: 8px;
}

.fg_audio {
  background-color: yellow;
  border-radius: 5px;
}

.progress_bar {
  background-color: yellow;
  border-radius: 5px;
}
